In [1]:
## THIS CELL SHOULD BE IN ALL VSCODE NOTEBOOKS ##

MARKET = 'NSE'

from loguru import logger

import pandas as pd
pd.options.display.max_columns=None

# Add `src` to _src.pth in .venv to allow imports in VS Code
from sysconfig import get_path
from pathlib import Path
if 'src' not in Path.cwd().parts:
    src_path = str(Path(get_path('purelib')) / '_src.pth')
    with open(src_path, 'w') as f:
        f.write(str(Path.cwd() / 'src\n'))

# Start the Jupyter loop
from ib_async import util
util.startLoop()

# Set the root
from from_root import from_root
ROOT = from_root()

# Getting index history with `niftyindices`

In [2]:
import requests
import json
from datetime import datetime

In [3]:
url = 'https://niftyindices.com/Backpage.aspx/getHistoricaldatatabletoString'

# payload = '{"cinfo":"{\'name\':\'NIFTY 50\',\'startDate\':\'01-Jun-2024\',\'endDate\':\'18-Jun-2024\',\'indexName\':\'NIFTY 50\'}"}' # format!!
payload = {'cinfo': str({"name":"NIFTY 50","startDate":"18-May-2024","endDate":"18-Jun-2024","indexName":"NIFTY 50"})}

data = json.dumps(payload)

In [4]:
headers = requests.utils.default_headers()

headers.update(
    {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/91.0.4472.77 Safari/537.36',
    }
)

r = requests.get(url, headers=headers)

In [5]:
niftyindices_headers = {
    'User-Agent': '',   
    'Connection': 'keep-alive',
    'sec-ch-ua': '" Not;A Brand";v="99", "Google Chrome";v="91", "Chromium";v="91"',
    'Accept': 'application/json, text/javascript, */*; q=0.01',
    'DNT': '1',
    'X-Requested-With': 'XMLHttpRequest',
    'sec-ch-ua-mobile': '?0',
    'Content-Type': 'application/json; charset=UTF-8',
    'Origin': 'https://niftyindices.com',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Sec-Fetch-Dest': 'empty',
    'Referer': 'https://niftyindices.com/reports/historical-data',
    'Accept-Language': 'en-US,en;q=0.9,hi;q=0.8',
}

In [6]:
s = requests.Session()

try:
    result = s.post(url=url, headers=niftyindices_headers, cookies=r.cookies, data=data, timeout=2)
except requests.exceptions.RequestException as e:
    logger.error(f'Requests exception {e}')
    raise

In [7]:
js = result.json()

In [8]:
idx_data = json.loads(js.get('d'))

In [9]:
import pandas as pd
df = pd.DataFrame(idx_data)

In [10]:
df

,RequestNumber,Index Name,INDEX_NAME,HistoricalDate,OPEN,HIGH,LOW,CLOSE
0,His63854662481265127800,,Nifty 50,18 Jun 2024,23570.8,23579.05,23499.7,23557.90
1,His63854662481265127800,,Nifty 50,14 Jun 2024,23464.95,23490.4,23334.25,23465.60
2,His63854662481265127800,,Nifty 50,13 Jun 2024,23480.95,23481.05,23353.9,23398.90
3,His63854662481265127800,,Nifty 50,12 Jun 2024,23344.45,23441.95,23295.95,23322.95
4,His63854662481265127800,,Nifty 50,11 Jun 2024,23283.75,23389.45,23206.65,23264.85
5,His63854662481265127800,,Nifty 50,10 Jun 2024,23319.15,23411.9,23227.15,23259.20
6,His63854662481265127800,,Nifty 50,07 Jun 2024,22821.85,23320.2,22789.05,23290.15
7,His63854662481265127800,,Nifty 50,06 Jun 2024,22798.6,22910.15,22642.6,22821.40
8,His63854662481265127800,,Nifty 50,05 Jun 2024,22128.35,22670.4,21791.95,22620.35
9,His63854662481265127800,,Nifty 50,04 Jun 2024,23179.5,23179.5,21281.45,21884.50
10,His63854662481265127800,,Nifty 50,03 Jun 2024,23337.9,23338.7,23062.3,23263.90
11,His63854662481265127800,,Nifty 50,31 May 2024,22568.1,22653.75,22465.1,22530.70
12,His63854662481265127800,,Nifty 50,30 May 2024,22617.45,22705.75,22417,22488.65
13,His63854662481265127800,,Nifty 50,29 May 2024,22762.75,22825.5,22685.45,22704.70
14,His63854662481265127800,,Nifty 50,28 May 2024,22977.15,22998.55,22858.5,22888.15
15,His63854662481265127800,,Nifty 50,27 May 2024,23038.95,23110.8,22871.2,22932.45
16,His63854662481265127800,,Nifty 50,24 May 2024,22930.75,23026.4,22908,22957.10
17,His63854662481265127800,,Nifty 50,23 May 2024,22614.1,22993.6,22577.45,22967.65
18,His63854662481265127800,,Nifty 50,22 May 2024,22576.6,22629.5,22483.15,22597.80
19,His63854662481265127800,,Nifty 50,21 May 2024,22404.55,22591.1,22404.55,22529.05
20,His63854662481265127800,,Nifty 50,18 May 2024,22512.85,22520.25,22470.05,22502.00